<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>
<p>
  <strong>Ingredients:</strong>
</p>

  <% @cocktail.doses.each do |i| %>
  <p><%= i.ingredient.name %>: <%= i.description %></p>
  <% end %>
  
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :description %>
    <%= f.association :ingredient %>

    <%= f.button :submit %> 
<% end %>
